* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(250, 249, 255);
}
html {
    scroll-behavior:smooth;
}
.logo{
    width: 80px;
    height: 50px;
    background-color: tomato;
    background-image: url(logo.jpg);
    background-size: cover;
    cursor: pointer;
}
nav{
    display: flex;
    height: 70px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.link{
    display: flex;
    align-items: center;
    margin-left: 20px;
    flex-grow: 1;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    line-height: 70px;
    padding: 0 20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
a:hover{
    color: rgb(244, 50, 50);
}
header{
    text-align: center;
    width: 80%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}
header h1{
    font-size: 40px;
    margin-top: 50px;
    color: rgb(53, 53, 53);
}
header p{
    font-size: 20px;
    margin-top: 10px;
    color: rgb(80, 80, 80);
}
.service{
    margin: auto;
    display: grid;
    justify-content: space-around;
    padding: 4%;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;

}
.box{
    width: 300px;
    height: auto;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    cursor: pointer;
}
.box h2{
    font-size: 24px;
    color: rgb(60, 60, 60);
}
.box p{
    margin-top: 20px;
    font-size: 18px;
    color: rgb(100, 100, 100);
}
.box:hover{
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    transition: all 0.3s ease;
}
.middle{
    text-align: center;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    padding: 3%;
}
.threediv{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
}
.ibox{
    width: 430px;
    height: 500px;
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1);
    border-radius: 25px;
    background-color: white;
    cursor: pointer;
}
.ibox:hover{
    box-shadow: 0 10px 13px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
    transition: all 0.3s ease;
    
}
.udiv{

    width: 100%;
    height: 280px;
}
.udiv img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    object-fit: cover;
}
.ldiv{
    background-color: white;
    padding: 50px;
}
.galary{
    height: 600px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
}
.contact{
    height: 600px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 2%;
    background-color: white;
}
footer{
    height: 300px;
    text-align: center;
    background-color:#292931;
    color: rgb(160, 160, 160);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding:20px 20px 0px 20px ;
}
.fdiv a{
    color: rgb(160, 160, 160);
    font-size: 16px;
    line-height: 30px;
}